<!-- Modal Dialog -->
<style>

</style>
<dialog id="solutionDialog" class="mdl-dialog">
    <div id="revealAnswerMessage">
        <h4 class="mdl-dialog__title">See answer???</h4>
        <br/>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="revealYesButton">
                Yes
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="revealNoButton">
                No
            </button>
        </div>
    </div>
    <div id="solutionContent" style="display: none;">
        <h5 id="spellingWord" class="mdl-dialog__title"></h5> <!-- Display the spelling word -->
        <h4>Did you spell it correctly?</h4>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="passButton">
                <i class="material-icons">thumb_up</i> <!-- Thumbs up icon in green -->
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="failButton">
                <i class="material-icons">thumb_down</i> <!-- Thumbs down icon in red -->
            </button>
        </div>
    </div>
</dialog>

<dialog id="resultDialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Quiz Results</h4>
    <div class="mdl-dialog__content">
        <p id="resultText"></p>
        <p>Keep up the good work!</p>
        <img id="gummyBearGif" src="/static/images/gummy-bear.gif" alt="Gummy Bear Song">
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="closeResultButton">
            Close
        </button>
    </div>
</dialog>

<!-- Modal Dialog for Image Upload -->
<dialog id="imageDialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Upload Quiz Table</h4>

    <div class="mdl-dialog__content">
        <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px;">
            <!-- <label for="imageInput" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Choose Image
            </label> -->
            <label for="imageInput" class="mdl-textfield mdl-js-textfield" style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px;">
                <span>Image: </span>
                <span id="fileName" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">No file chosen</span>
                <input id="imageInput" type="file" accept="image/*" capture="environment" style="display: none;" required>
            </label>
        </div>
        
    </div>

    <div class="mdl-dialog__content">
        <p>Take a picture of the quiz on your phone and crop the table so you get an image like this. Upload this photo to generate a quiz.</p>
        <img src="/static/images/spellingquiz.jpg" alt="Spelling Quiz" style="width: 50%; margin-bottom: 20px;">

    </div>
    

    

    <div class="mdl-dialog__actions">
        <button type="button" id="submitImageButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Submit</button>
        <button type="button" id="cancelImageButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Cancel</button>
    </div>
</dialog>

<dialog id="spinnerDialog" class="mdl-dialog">
    <div class="mdl-dialog__content" style="text-align: center;">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
        <p>Please wait while we process your image...</p>
    </div>
</dialog>