<!DOCTYPE html>
<html>

<head>
    <title>Spelling Quiz</title>
    <!-- Include Material Design Lite CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Include Material Design Lite JavaScript -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Include Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Spelling Practice</span>
            <div class="mdl-layout-spacer"></div>

            <button id="showResultsButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Show Results
            </button>
            <button id="clearAnswersButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Clear Answers
            </button>

            <div class="mdl-layout-spacer"></div>

            <button id="openImageDialogButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Generate Quiz
            </button>
        </div>
    </header>
    <div class="table-container">
        <ul id="wordList" class="mdl-list">
            <!-- List items will be dynamically added here -->
        </ul>
    </div>

    <!-- Include the dialogs HTML -->
    {% include 'dialogs.html' %}

    <!-- Modal Dialog for Create Quiz -->
    <dialog id="createQuizDialog" class="mdl-dialog">
        <h4 class="mdl-dialog__title">Create Quiz</h4>
        <div class="mdl-dialog__content">
            <form id="quizForm">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="unitId" required>
                    <label class="mdl-textfield__label" for="unitId">Unit ID</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="unitName" required>
                    <label class="mdl-textfield__label" for="unitName">Unit Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="unitDescription" required>
                    <label class="mdl-textfield__label" for="unitDescription">Unit Description</label>
                </div>
                <div id="wordListContainer">
                    <h5>Spelling Words</h5>
                    <div id="wordListEditor">
                        <!-- Rows for words and sentences will be dynamically added here -->
                    </div>
                    <button type="button" id="addWordButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Add Word
                    </button>
                </div>
            </form>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" id="saveQuizButton" class="mdl-button">Save</button>
            <button type="button" id="closeQuizDialogButton" class="mdl-button">Cancel</button>
        </div>
    </dialog>

    <script>
        const CACHE_KEY = 'spellingQuizState';
        const CACHE_EXPIRATION_KEY = 'spellingQuizExpiration';
        const CACHE_EXPIRATION_TIME = 120 * 60 * 1000; // 60 minutes in milliseconds

        let currentWordIndex = 0; // Move currentWordIndex to the outer scope
        let words = []; // store the words array to avoid refetching.
        let spelling_list = {};
        let quiz = {};
        let isSpeaking = false; // Flag to track if speaking is in progress
        let results = {}; // Track pass/fail results
   

        function speakWord(word, sentence) {
            // Disable the buttons and set isSpeaking flag
            isSpeaking = true;

            const synth = window.speechSynthesis;

            const utterWord = new SpeechSynthesisUtterance(word);
            utterWord.rate = 1.0;

            console.log(`Speaking word: ${word}`);
            synth.speak(utterWord);

            utterWord.onend = function () {

                const utterSentence = new SpeechSynthesisUtterance(sentence);
                utterSentence.rate = 1.0;

                console.log(`Speaking sentence: ${sentence}`);
                synth.speak(utterSentence);

                utterSentence.onend = function () {
                    // Show the solution dialog
                    showSolutionDialog(currentWordIndex);

                    // Repeat word 3 times with pauses
                    let repetitions = 0;
                    const repeatInterval = setInterval(() => {
                        const utterWordRepeat = new SpeechSynthesisUtterance(word);
                        utterWordRepeat.rate = 0.6;

                        console.log(`Repeating word: ${word}`);
                        synth.speak(utterWordRepeat);
                        repetitions++;
                        if (repetitions >= 3) {
                            clearInterval(repeatInterval);
                            // Additional 5-second pause
                            setTimeout(() => {
                                // Reset isSpeaking flag after the additional pause
                                isSpeaking = false;
                            }, 250);
                        }
                    }, 2000);
                };

            };
        }

        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]]; // Swap elements
            }
            return array;
        }

        function displayMaskedWords() {
            const wordList = document.getElementById('wordList');
            wordList.innerHTML = '';
            words.forEach((word, index) => {
                const listItem = document.createElement('li');
                listItem.classList.add('mdl-list__item', 'mdl-js-ripple-effect'); // Add ripple to the list item
                listItem.addEventListener('click', () => {
                    // Only allow click if not passed
                    if (results[word] !== 'pass') {
                        if (!isSpeaking) {
                            currentWordIndex = index;
                            highlightCurrentWord(currentWordIndex);
                            const wordData = spelling_list.find(item => item.word === word);
                            speakWord(word, wordData.sentence);
                        }
                    }
                });
                listItem.style.width = "100%" // force the ripple to work

                const itemPrimaryContent = document.createElement('span');
                itemPrimaryContent.classList.add('mdl-list__item-primary-content');

                const playButton = document.createElement('button');
                playButton.classList.add('mdl-button', 'mdl-js-button', 'mdl-button--icon'); // Remove ripple from the button
                playButton.innerHTML = '<i class="material-icons">help_outline</i>';
                playButton.addEventListener('click', (event) => {
                    event.stopPropagation(); // Prevent the list item's click event from firing
                    // Only allow click if not passed
                    if (results[word] !== 'pass') {
                        if (!isSpeaking) {
                            currentWordIndex = index;
                            highlightCurrentWord(currentWordIndex);
                            const wordData = spelling_list.find(item => item.word === word);
                            speakWord(word, wordData.sentence);
                        }
                    }
                });
                itemPrimaryContent.appendChild(playButton);

                const wordSpan = document.createElement('span');
                wordSpan.textContent = '_______'; // Always use seven '_' characters
                itemPrimaryContent.appendChild(wordSpan);

                listItem.appendChild(itemPrimaryContent);

                const itemSecondaryContent = document.createElement('span');
                itemSecondaryContent.classList.add('mdl-list__item-secondary-content');
                const wordData = spelling_list.find(item => item.word === word);
                const maskedSentence = wordData.sentence.replace(new RegExp(word, 'gi'), '_______'); // Always use seven '_' characters
                itemSecondaryContent.textContent = maskedSentence;
                listItem.appendChild(itemSecondaryContent)

                wordList.appendChild(listItem);
            });

            // Load the state from the cache and update the UI
            updateUIFromCache();
        }

        function updateUIFromCache() {
            words.forEach((word, index) => {
                if (results[word] === 'pass') {
                    updateResultIcon(index);
                    unmaskWord(index);
                } else if (results[word] === 'fail') {
                    updateResultIcon(index);
                }
            });
        }

        function unmaskWord(index) {
            const wordList = document.getElementById('wordList');
            const listItem = wordList.children[index];
            if (listItem) {
                const wordSpan = listItem.querySelector('.mdl-list__item-primary-content span:last-child');
                const sentenceSpan = listItem.querySelector('.mdl-list__item-secondary-content');
                wordSpan.textContent = words[index];
                const wordData = spelling_list.find(item => item.word === words[index]);
                sentenceSpan.textContent = wordData.sentence;
            }
        }

        function highlightCurrentWord(index) {
            const wordList = document.getElementById('wordList');
            Array.from(wordList.children).forEach((listItem, i) => {
                if (i === index) {
                   listItem.classList.add('mdl-shadow--2dp'); // Add elevation to the row
                } else {
                   listItem.classList.remove('mdl-shadow--2dp'); // Remove elevation from other rows
                }
            });
            //force the header to reappear.
            const header = document.querySelector('.mdl-layout__header');
            header.style.display = 'flex';
        }

        function showSolutionDialog(index) {
            const solutionDialog = document.getElementById('solutionDialog');
            const revealAnswerMessage = document.getElementById('revealAnswerMessage');
            const solutionContent = document.getElementById('solutionContent');
            const revealYesButton = document.getElementById('revealYesButton');
            const revealNoButton = document.getElementById('revealNoButton');
            const passButton = document.getElementById('passButton');
            const failButton = document.getElementById('failButton');
            const spellingWordElement = document.getElementById('spellingWord');
            spellingWordElement.textContent = words[index]; // Set the spelling word in the modal header

            if (!solutionDialog.showModal) {
                dialogPolyfill.registerDialog(solutionDialog);
            }

            revealYesButton.onclick = function () {
                revealAnswerMessage.style.display = 'none';
                solutionContent.style.display = 'block';

                // Unmask the word in the grid only if the result is 'pass'
                if (results[words[currentWordIndex]] === 'pass') {
                    unmaskWord(currentWordIndex);
                }
            };

            revealNoButton.onclick = function () {
                solutionDialog.close();
            };

            passButton.onclick = function () {
                results[words[index]] = 'pass';
                updateResultIcon(index);
                saveStateToCache();
                solutionDialog.close();
                checkQuizCompletion();
            };

            failButton.onclick = function () {
                results[words[index]] = 'fail';
                updateResultIcon(index);
                saveStateToCache();
                solutionDialog.close();
                checkQuizCompletion();
            };

            revealAnswerMessage.style.display = 'block';
            solutionContent.style.display = 'none';
            solutionDialog.showModal();
        }

        function checkQuizCompletion() {
            const allPassed = words.every(word => results[word] === 'pass');
            if (allPassed) {
                showFinalResults();
            }
        }

        function showFinalResults() {
            const resultDialog = document.getElementById('resultDialog');
            const resultText = document.getElementById('resultText');
            const closeResultButton = document.getElementById('closeResultButton');

            const correctCount = Object.values(results).filter(result => result === 'pass').length;
            const percentage = Math.round((correctCount / words.length) * 100);
            resultText.innerHTML = `<p id="percentageText">${percentage}%</p>You got <span>${correctCount}</span> out of <span>${words.length}</span> correct!`;

            if (!resultDialog.showModal) {
                dialogPolyfill.registerDialog(resultDialog);
            }

            closeResultButton.onclick = function () {
                resultDialog.close();
            };

            resultDialog.showModal();

            // Play Gummy Bear Song music for 15 seconds
            const audio = new Audio('https://www.myinstants.com/media/sounds/gummy-bear-song.mp3');
            audio.play();
            // setTimeout(() => {
            //     audio.pause();
            // }, 15000);
        }

        function updateResultIcon(index) {
            const wordList = document.getElementById('wordList');
            const listItem = wordList.children[index];
            if (listItem) {
                const playButton = listItem.querySelector('.mdl-list__item-primary-content button');
                playButton.innerHTML = '';

                if (results[words[index]] === 'pass') {
                    playButton.innerHTML = '<i class="material-icons" style="color: green;">thumb_up</i>';
                    // Add passed class to listItem
                    listItem.classList.add('passed');
                    listItem.classList.remove('mdl-js-ripple-effect'); // Remove ripple
                    listItem.style.cursor = "default";
                } else if (results[words[index]] === 'fail') {
                    playButton.innerHTML = '<i class="material-icons" style="color: red;">thumb_down</i>';
                }
            }
        }

        function saveStateToCache() {
            const state = {
                words: words,
                spelling_list: spelling_list,
                results: results,
                timestamp: Date.now()
            };
            localStorage.setItem(CACHE_KEY, JSON.stringify(state));
            localStorage.setItem(CACHE_EXPIRATION_KEY, Date.now().toString());
        }

        function loadStateFromCache() {
            const cachedState = localStorage.getItem(CACHE_KEY);
            const cacheExpiration = localStorage.getItem(CACHE_EXPIRATION_KEY);

            if (cachedState && cacheExpiration) {
                const currentTime = Date.now();
                const expirationTime = parseInt(cacheExpiration, 10) + CACHE_EXPIRATION_TIME;

                if (currentTime < expirationTime) {
                    const state = JSON.parse(cachedState);
                    words = state.words;
                    spelling_list = state.spelling_list;
                    results = state.results;

                    // Update the UI with the cached state
                    updateUIFromCache();
                } else {
                    clearCache();
                }
            }
        }

        function clearCache() {
  
            localStorage.removeItem(CACHE_KEY);
            localStorage.removeItem(CACHE_EXPIRATION_KEY);
            location.reload(); // Reload the page to reset the state
        }

        document.getElementById('showResultsButton').addEventListener('click', showFinalResults);
        document.getElementById('clearAnswersButton').addEventListener('click', function () {
            results = {};
            saveStateToCache(); 
            location.reload(); // Reload the page to reset the state
        });
        console.log('Spelling List:', spelling_list);


        // Image Dialog
        const imageDialog = document.getElementById('imageDialog');
        // const imageForm = document.getElementById('imageForm');
        const submitImageButton = document.getElementById('submitImageButton');
        const cancelImageButton = document.getElementById('cancelImageButton');

        document.getElementById('openImageDialogButton').addEventListener('click', () => {
            if (!imageDialog.showModal) {
                dialogPolyfill.registerDialog(imageDialog);
            }
            imageDialog.showModal();
        });



        cancelImageButton.addEventListener('click', () => {
            imageDialog.close();
        });

        document.addEventListener('DOMContentLoaded', function () {
            if(localStorage.getItem(CACHE_KEY) === null) {
                console.log('Cache is empty. Opening image dialog...');
                openImageDialog();
            } else {
                console.log('Cache is not empty. Loading state from cache...');

                loadStateFromCache();
                displayMaskedWords();
            }


        });

        function openImageDialog() {
            const imageDialog = document.getElementById('imageDialog');
            if (!imageDialog.showModal) {
                dialogPolyfill.registerDialog(imageDialog);
            }
            imageDialog.showModal();
        }

        document.getElementById('submitImageButton').addEventListener('click', function () {
            const imageInput = document.getElementById('imageInput');
            const file = imageInput.files[0];

            if (!file) {
                alert('Please select an image before submitting.');
                return;
            }

            // Close the image dialog
            const imageDialog = document.getElementById('imageDialog');
            imageDialog.close();

            // Open the spinner dialog
            const spinnerDialog = document.getElementById('spinnerDialog');
            if (!spinnerDialog.showModal) {
                dialogPolyfill.registerDialog(spinnerDialog);
            }
            spinnerDialog.showModal();

            // Create a FormData object to send the image to the server
            const formData = new FormData();
            formData.append('image', file);

            // Send the image to the process_image function
            fetch('/get_quiz_data', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Response from process_image:', data);
                    // Update the quiz variable with the response
                    
                    // quiz = JSON.stringify(data);
                    quiz = JSON.parse(data);
                    
                    spelling_list = quiz.unit["spelling-words"];
                    // quiz = data;
                    words = spelling_list.map(item => item.word);
                    words = shuffleArray(words); // Randomize the words array
                    
                    clearCache();

                    results = {};
                    
                    saveStateToCache(); 
                    displayMaskedWords();


                    // Close the dialog
                    const imageDialog = document.getElementById('imageDialog');
                    imageDialog.close();
                })
                .catch(error => {
                    console.error('Error processing image:', error);
                });
        });

        document.getElementById('cancelImageButton').addEventListener('click', function () {
            const imageDialog = document.getElementById('imageDialog');
            imageDialog.close();
        });
    </script>
</body>

</html>
