<!DOCTYPE html>
<html>

<head>
    <title>Spelling Quiz</title>
    <!-- Include Material Design Lite CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Include Material Design Lite JavaScript -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Include Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">William's Spelling Practice</span>
            <div class="mdl-layout-spacer"></div>
            <button id="showResultsButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Show Results
            </button>
        </div>
    </header>
    <div class="table-container">
        <ul id="wordList" class="mdl-list">
            <!-- List items will be dynamically added here -->
        </ul>
    </div>

    <!-- Modal Dialog -->
    <dialog id="solutionDialog" class="mdl-dialog">
        <h5 id="spellingWord" class="mdl-dialog__title"></h5> <!-- Display the spelling word -->
        <h4>Did you spell it correctly?</h4>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="passButton">
                <i class="material-icons">thumb_up</i> <!-- Thumbs up icon in green -->
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="failButton">
                <i class="material-icons">thumb_down</i> <!-- Thumbs down icon in red -->
            </button>
        </div>
    </dialog>

    <dialog id="resultDialog" class="mdl-dialog">
        <h4 class="mdl-dialog__title">Quiz Results</h4>
        <div class="mdl-dialog__content">
            <p id="resultText"></p>
            <p>Keep up the good work William!</p>
            <img id="gummyBearGif" src="/static/images/gummy-bear.gif" alt="Gummy Bear Song">
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="closeResultButton">
                Close
            </button>
        </div>
    </dialog>

    <script>
        let currentWordIndex = 0; // Move currentWordIndex to the outer scope
        let words = []; // store the words array to avoid refetching.
        let spelling_list = {}; // store the spelling list to avoid refetching.
        let isSpeaking = false; // Flag to track if speaking is in progress
        let results = {}; // Track pass/fail results

        document.addEventListener('DOMContentLoaded', function () {
            fetch('/get_quiz_data')
                .then(response => response.json())
                .then(data => {
                    spelling_list = data;
                    words = Object.keys(spelling_list);
                    words = shuffleArray(words); // Randomize the words array

                    displayMaskedWords();
                });
        });

        function speakWord(word, sentence) {
            // Disable the buttons and set isSpeaking flag
            isSpeaking = true;

            const synth = window.speechSynthesis;
            

            const utterWord = new SpeechSynthesisUtterance(word);
            utterWord.rate = 1.0;

            console.log(`Speaking word: ${word}`);
            synth.speak(utterWord);

            utterWord.onend = function () {
                setTimeout(() => {
                    const utterSentence = new SpeechSynthesisUtterance(sentence);
                    utterSentence.rate = 1.0;

                    console.log(`Speaking sentence: ${sentence}`);
                    synth.speak(utterSentence);

                    utterSentence.onend = function () {
                        // Repeat word 3 times with pauses
                        let repetitions = 0;
                        const repeatInterval = setInterval(() => {
                            const utterWordRepeat = new SpeechSynthesisUtterance(word);
                            utterWordRepeat.rate = 0.6;

                            console.log(`Repeating word: ${word}`);
                            synth.speak(utterWordRepeat);
                            repetitions++;
                            if (repetitions >= 1) {
                                clearInterval(repeatInterval);
                                // Additional 5-second pause
                                setTimeout(() => {
                                    // Unmask the word in the grid
                                    unmaskWord(currentWordIndex);
                                    // Reset isSpeaking flag after the additional pause
                                    isSpeaking = false;
                                    showResultDialog(currentWordIndex);
                                }, 5000);
                            }
                        }, 2000);
                    };
                }, 1000);
            };
        }

        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]]; // Swap elements
            }
            return array;
        }

        function displayMaskedWords() {
            const wordList = document.getElementById('wordList');
            wordList.innerHTML = '';
            words.forEach((word, index) => {
                const listItem = document.createElement('li');
                listItem.classList.add('mdl-list__item', 'mdl-js-ripple-effect'); // Add ripple to the list item
                listItem.addEventListener('click', () => {
                    // Only allow click if not passed
                    if (results[index] !== 'pass') {
                        if (!isSpeaking) {
                            currentWordIndex = index;
                            highlightCurrentWord(currentWordIndex);
                            speakWord(word, spelling_list[word]);
                        }
                    }
                });
                listItem.style.width = "100%" // force the ripple to work

                const itemPrimaryContent = document.createElement('span');
                itemPrimaryContent.classList.add('mdl-list__item-primary-content');

                const playButton = document.createElement('button');
                playButton.classList.add('mdl-button', 'mdl-js-button', 'mdl-button--icon'); // Remove ripple from the button
                playButton.innerHTML = '<i class="material-icons">help_outline</i>';
                 playButton.addEventListener('click', (event) => {
                    event.stopPropagation(); // Prevent the list item's click event from firing
                    // Only allow click if not passed
                    if (results[index] !== 'pass') {
                        if (!isSpeaking) {
                            currentWordIndex = index;
                            highlightCurrentWord(currentWordIndex);
                            speakWord(word, spelling_list[word]);
                        }
                    }
                });
                itemPrimaryContent.appendChild(playButton);

                const wordSpan = document.createElement('span');
                wordSpan.textContent = '*'.repeat(word.length);
                itemPrimaryContent.appendChild(wordSpan);

                listItem.appendChild(itemPrimaryContent);

                const itemSecondaryContent = document.createElement('span');
                itemSecondaryContent.classList.add('mdl-list__item-secondary-content');
                const maskedSentence = spelling_list[word].replace(new RegExp(word, 'gi'), '*'.repeat(word.length));
                itemSecondaryContent.textContent = maskedSentence;
                listItem.appendChild(itemSecondaryContent)

                wordList.appendChild(listItem);
            });
        }

        function unmaskWord(index) {
            const wordList = document.getElementById('wordList');
            const listItem = wordList.children[index];
            const wordSpan = listItem.querySelector('.mdl-list__item-primary-content span:last-child');
            const sentenceSpan = listItem.querySelector('.mdl-list__item-secondary-content');
            wordSpan.textContent = words[index];
            sentenceSpan.textContent = spelling_list[words[index]];
        }

        function highlightCurrentWord(index) {
            const wordList = document.getElementById('wordList');
            Array.from(wordList.children).forEach((listItem, i) => {
                if (i === index) {
                   listItem.classList.add('mdl-shadow--2dp'); // Add elevation to the row
                } else {
                   listItem.classList.remove('mdl-shadow--2dp'); // Remove elevation from other rows
                }
            });
            //force the header to reappear.
            const header = document.querySelector('.mdl-layout__header');
            header.style.display = 'flex';
        }

        function showResultDialog(index) {
            const dialog = document.querySelector('dialog:not(#resultDialog)');
            const passButton = document.getElementById('passButton');
            const failButton = document.getElementById('failButton');
            const spellingWordElement = document.getElementById('spellingWord');
            spellingWordElement.textContent = words[index]; // Set the spelling word in the modal header

            if (!dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }

            passButton.onclick = function () {
                results[index] = 'pass';
                updateResultIcon(index);
                dialog.close();
                checkQuizCompletion();
            };

            failButton.onclick = function () {
                results[index] = 'fail';
                updateResultIcon(index);
                dialog.close();
                checkQuizCompletion();
            };

            dialog.showModal();
        }

        function checkQuizCompletion() {
            if (Object.keys(results).length === words.length) {
                showFinalResults();
            }
        }

        function showFinalResults() {
            const resultDialog = document.getElementById('resultDialog');
            const resultText = document.getElementById('resultText');
            const closeResultButton = document.getElementById('closeResultButton');

            const correctCount = Object.values(results).filter(result => result === 'pass').length;
            const percentage = Math.round((correctCount / words.length) * 100);
            resultText.innerHTML = `<p id="percentageText">${percentage}%</p>You got <span>${correctCount}</span> out of <span>${words.length}</span> correct!`;

            if (!resultDialog.showModal) {
                dialogPolyfill.registerDialog(resultDialog);
            }

            closeResultButton.onclick = function () {
                resultDialog.close();
            };

            resultDialog.showModal();

            // Play Gummy Bear Song music for 15 seconds
            const audio = new Audio('https://www.myinstants.com/media/sounds/gummy-bear-song.mp3');
            audio.play();
            setTimeout(() => {
                audio.pause();
            }, 15000);
        }

        function updateResultIcon(index) {
            const wordList = document.getElementById('wordList');
            const listItem = wordList.children[index];
            const playButton = listItem.querySelector('.mdl-list__item-primary-content button');
            playButton.innerHTML = '';

            if (results[index] === 'pass') {
                playButton.innerHTML = '<i class="material-icons" style="color: green;">thumb_up</i>';
                 // Add passed class to listItem
                listItem.classList.add('passed');
                listItem.classList.remove('mdl-js-ripple-effect'); // Remove ripple
                 listItem.style.cursor = "default";
            } else if (results[index] === 'fail') {
                playButton.innerHTML = '<i class="material-icons" style="color: red;">thumb_down</i>';
            }
        }

        document.getElementById('showResultsButton').addEventListener('click', showFinalResults);
    </script>
</body>

</html>
